*{
    margin: 0px;
    padding: 0px;
}

.container{
    
    width: 100%;
    background-color: blueviolet;
    display: inline-block;

}

.card{
    height: 200px;
    width: 19%;
    background-color: greenyellow;
    display: inline-block;
}

/* Media Queries for mobile phone */
@media (max-width:420px) {

    .card{
        width: 100%;
    }


}